body {
	font-family: 'Franklin Gothic Heavy', arial;
	font-size: 22px;
	padding: 0;
	margin: 0;
	color: #fff;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* Container */

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
}

/*Header*/

.header {
	background-color: #66d0c2;
	padding: 14px 0 25px;
}

.header_content {
	display: flex;
	align-items: center;
}

.header_item {
	text-decoration: none;
	color: #16015a;
	margin-left: 30px;
	padding: 45px 10px;
	transition: color .2s linear;
	transition: background-color .2s linear;
}

.header_menu {
	margin-left: 127px;
}

.header_item:hover {
	background-color: #4fc4b5;
	color: #fff;
}

.header:after {
	content:"";
	display: block;
	width: 100%;
	height: 1px;
	text-align: center;
	margin-top: 23px;

	background-color: #fff;
}

/*INTRO*/

.intro {
	background-color: #66d0c2;
	padding: 46px 0 417px 0;
	position: relative;
}

.intro_offer {
	text-align: center;
}

.intro_title {
	font-size: 60px;
	font-weight: 400;
	font-family: 'Fredoka One', cursive;
}

.intro_suptitle {
	width: 286px;
	margin-top: 45px;
	opacity: 70%;
}

.intro_imgs {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 10;
}

/*STUDENTS*/

.students {
	background: url('../assets/img/st img/st.png');
	padding: 68px 0 10px 0;
	position: relative;
	z-index: 9;
	margin: 0;
}

.st_content {
	display: flex;

}

.st_title {
	text-align: center;
	font-size: 46.38px;
	font-weight: 400;
	font-family: 'Fredoka One', cursive;
	margin-top: 45px;
}

.st_name {
	width: 585px;
	margin: 0;
	margin-top: 75px;
	line-height: 50px;
}

.names {
	text-decoration: none;
	margin-left: 10px;
	color: #fff;
	opacity: 70%;
	transition: color .2s linear;
}

.names:hover {
	color: #16015a;
	opacity: 1;
}

.st_imgs {
	margin-top: 88px;
}

/*POPUP*/

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 11;
	opacity: 0;
	visibility: hidden;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup_body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup_content {
	background-color: #79e3d5;
	color: #333;
	max-width: 800px;
	padding: 30px;
	position: relative;
}
.popup_title {
	color: #16015a;
}
.popup_text {
	margin-top: 15px;
	font-size: 16px;
}
.popup_close {
	position: absolute;
	right: 10px;
	top: 10px;
	text-decoration: none;
	color: #333;
}
.popoup_imgs {
	width: 740px;
	height: 740px;
	margin-top: 20px;
}

/*TEACHER*/

.teacher {
	padding: 66px 0 75px 0;
	background: url('../assets/img/teacher_img/phon.jpg') no-repeat;
	background-size: cover;
}

.teacher_content {
	display: flex;
	align-items: center;
}

.teacher_text {
	margin-left: 140px;
	text-align: center;
}

.teaher__text {
	margin-top: 28px;
	color: #000;
}

.teacher_title {
	font-size: 30px;
	font-weight: 400;
	color: #041680;
}

.teacher_titles {
	margin-bottom: 63px;
}

/*JOINT PHOTO*/
.joint {
	text-align: center;
	padding: 80px 0 180px;
	background-color: #568e87;
}

.cards {
	display: flex;
	margin-top: 60px;
	flex-wrap: wrap;

}

.jointphoto_title {
	font-size: 46.38px;
	font-weight: 400;
	font-family: 'Fredoka One', cursive;

}

.joint_item {
	width: 40%;
	margin-top: 50px;
	background-color: #0fbc9d;
	position: relative;
}

.joint_img img {
	width: 100%;
	transition: opacity .1s linear;
	display: block;
	height: 351px;
}

.joint_item:hover .joint_img {
	transform: translate3d(-10px, -10px, 0px);
}

.joint_item:hover .joint_img img {
	opacity: .1;
}

.joint_item:hover .joint_text {
	opacity: 1;
}

.joint_img {
	background-color: #8cd5c9;
	transition: transform .1s linear;
}

.joint_text {
	width: 100%;
	opacity: 0;
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 0;
	transform: translate3d(0, -50%, 0);

	transition: opacity .1 s linear;
}













/*SLIDER*/

.progress {
	padding: 93px 0 175px;
	background: url('../assets/img/teacher_img/back.jpg') no-repeat;
	background-size: cover;
}

.img_width {
	width: 358px;
	height: 484px;
}

.slider {
	margin-top: 75px;
}





/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

/*Конкретный слайдер*/
.slider {
	position: relative;
}
.slider .slick-arrow {
	position: absolute;
	top: 30%;
	z-index: 10;
	font-size: 0;
}
 .slider .slick-arrow.slick-prev {
 	left: 0;
 	background: url('../assets/img/arrow/prev_arrow.png') no-repeat 0 0 / 100%;
 	width: 101px;
 	height: 175px;
 	border: 0;
 	cursor: pointer;
 }
 .slider .slick-arrow.slick-next {
 	right: 0;
 	background: url('../assets/img/arrow/next_arrow.png') no-repeat 0 0 / 100%;
 	width: 101px;
 	height: 175px;
 	border: 0;
 	cursor: pointer;
 }
.slider_item {

}

/*NEWS*/

.news {
	padding: 94px 0 200px;
	background-color: #66d0c2;
}

.news_content {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.new {
	width: 480px;
	height: 300px;
	left: 0;
	margin: 0;
	margin-left: 17px;
}

.newsx {
	display: flex;
	align-items: center;
}

.new_img {
	margin: 0;
}

.news_title {
	font-size: 24px;
	color: #16015a;
}

.news_text {
	font-size: 18px;
	width: 206px;
	margin: 0;
	margin-top: 20px;
}

.new_imge {
	width: 385px;
	height: 484px;
}

.news_btn {
	border: none;
	background-color: #041680;
	padding: 18px 20px;
	color: #fff;
	font-size: 18px;
	font-family: 'Franklin Gothic Heavy', arial;
	font-weight: 400;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 49px;
}

.news_btn:hover {
	background-color: #04115a;
}

/*FOOTER*/

.footer {
	padding: 18px 0 23px;
	background-color: #16015a;
}

.footer_icon {
	background-color: #16015a;
	outline: none;
	border: none;
	cursor: pointer;
}

.footer_icons {
	margin: 0;
}

.email {
	margin: 0;
}

.email_btn {
	font-size: 18px;
	font-weight: 400;
	font-family: 'Franklin Gothic Heavy', arial;
	color: #fff;
	background: none;
	border: none;
	cursor: pointer;

}

.footer_img {
	width: 48px;
	height: 48px;
	margin-left: 21px;
}

.s {
	margin-left: 0;
}

.footer_hight {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_footer:after {
	content:'';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #fff;
	margin-top: 22px;
}

.owner {
	opacity: 70%;
	text-align: center;
	margin-top: 22px;
}


/*АДАПТИВНОСТЬ*/


@media (max-width:2560px) {
	.newsx {
		display: block
	}

	.news_content {
		display: block;
		margin-left: 400px;
	}

	.intro_imgs {
		height: 520px;
	}


}

@media (max-width:1200px) {
	/*INTRO*/
	.intro_imgs {
		top: 50%;
	}
	/*NEWS*/
	.news_content {
		display: block;
		margin-left: 30%;
	}
	.newsx {
		margin-top: 20px;
	}
}

@media (max-width:1060px) {
	/*INTRO*/
	.header_item {
		font-size: 18px;
	}

	.header_menu {
		margin-left: 50px;
	}

	.intro_title {
		font-size: 40px;
	}

	.intro_suptitle {
		font-size: 19px;
	}
	/*STUDENTS*/
	.st_content {
		display: block;
	}

	.students {
		background-size: cover;
	}

	.st_name {
		width: 100%;
	}

	.st_imgs {
		margin-left: 29%;
	}

@media (max-width:970px) {
	/*NEWS*/
	.newsx {
		display: block;
	}

}

@media (max-width:870px) {
	/*INTRO*/
	.intro_imgs {
		top: 60%;
	}

	.header_menu {
		margin-left: 0;
	}

	.nav {
		display: table-caption;
	}

	.header_item {
		line-height: 2;
		padding: 10px 10px;
		margin-left: 0;
	}

	.header_img {
		margin-right: 100px;
	}
	/*STUDENTS*/
	.st_imgs {
		margin-left: 0;
	}
	/*TEACHER*/
	.teacher_content {
		display: block;
	}

	.teacher_text {
		margin-left: 0;
		margin-top: 30px;
	}

	.our_teacher {
		text-align: center;
	}
	/*SLIDER*/
	.slider .slick-arrow.slick-prev {
 		width: 70px;
 	}

 	.slider .slick-arrow.slick-next { 
 		width: 70px;
	}
	/*POPUP*/
	.popup_content {
		width: 600px;
		height: 700px;
	}

	.popoup_img {
		width: 540px;
		height: 650px;
	}

	.popoup_imgs {
		width: 520px;
		height: 560px;
	}
	/*JOINT*/
	.cards {
		display: block;

	}

	.joint_item {
		width: 100%;
	}

}


@media (max-width:760px) {
	/*INTRO*/
	.intro_imgs {
		top: 70%;
	}
	/*POPUP*/
	.popoup_imgs {
		width: 430px;
		height: 450px;
	}

	.popup_content {
		width: 500px;
		height: 600px;
	}
}

@media (max-width:570px) {
	/*INTRO*/
	.intro_imgs {
		width: 870px;
		left: -130px;
	}
	/*SLIDER*/
	.img_width {
		width: 280px;
		height: 350px;
	}
	/*NEWS*/
	.news_content {
		margin-left: 25%;
	}
	.new_imge {
		width: 300px;
		height: 400px;
	}
	/*POPUP*/
	.popup_content {
		width: 450px;
		height: 500px;
	}
	.popoup_imgs {
		width: 390px;
		height: 345px;
	}
}

@media (max-width:460px) {
	/*INTRO*/
	.intro_imgs {
		left: -180px;
		top: 60%;
	}
	/*STUDENTS*/
	.st_imgs {
		width: 350px;
	}
	/*SLIDER*/
	.img_width {
		width: 200px;
		height: 300px;
	}
	/*SLIDER*/
	.slider .slick-arrow.slick-prev {
 		width: 50px;
	}

 	.slider .slick-arrow.slick-next { 
 		width: 50px;
	}
	/*NEWS*/
	.news_content {
		margin-left: 0;
	}
	.new_imge {
		width: 300px;
		height: 400px;
	}
	/*FOOTER*/
	.footer_img  {
		margin-left: 0;
		width: 40px;
    	height: 40px;
	}
	/*POPUP*/
	.popup_content {
		width: 380px;
		height: 450px;
	}
	.popoup_imgs {
		width: 310px;
		height: 290px;
	}

}


@media (max-width:370px) {
	/*INTRO*/
	.intro_imgs {
		left: -65%;
		top: 60%;
	}

	.header_img {
		margin-right: 50px;
	}

	.intro_imgs {
		left: -85%;
	}
	/*STUDENTS*/
	.st_imgs {
		display: none;
	}

	/*TEACHER*/
	.teaher__text {
		text-align: left;
	}

	.teacher_img {
		width: 300px;
	}
	/*SLIDER*/
	.slider .slick-arrow.slick-prev {
 		width: 40px;
 	}

 	.slider .slick-arrow.slick-next { 
 		width: 40px;
 	}
 	.img_width {
 		width: 150px;
 		height: 200px;
 	}
 	/*FOOTER*/
 	.footer_img {
 		width: 35px;
 		height: 35px;
 	}
 	.email_btn {
 		font-size: 16px;
 	}
 	.footer_icon {
 		width: 40px;
 	}
 	/*POPUP*/
 	.popup_content {
 		width: 300px;
 		height: 450px;
 	}
 	.popoup_imgs {
 		width: 240px;
 		height: 310px;
 	}	
}

